<router-outlet></router-outlet>

<aside *ngIf="popularHeroes?.length"
	class="hero-layout__most-popular">
	<h3 class="hero-layout__header">Most popular</h3>
	<app-hero-list [heroes]="popularHeroes"></app-hero-list>
</aside>
<aside *ngIf="recentViewedHeroes?.length"
	class="hero-layout__recent-view">
	<h3 class="hero-layout__header">Recently viewed</h3>
	<app-hero-list [heroes]="recentViewedHeroes"></app-hero-list>
</aside>

<h2>Hero Categories</h2>

<ng-container *ngFor="let heroCategory of heroCategories">
	<aside *ngIf="heroCategories?.length"
		class="hero-layout__category">
		<h3 class="hero-layout__header">{{heroCategory.title}}</h3>
		<app-hero-list [heroes]="heroCategory.heroes"></app-hero-list>
	</aside>
</ng-container>