<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="Nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="OrleansV2-PreRelease" value="https://dotnet.myget.org/F/orleans-prerelease/api/v3/index.json" />
  </packageSources>
</configuration>