@import "vars";

body {
	color: $body-text-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color;
	font-family: $heading-font-family;
}

h1 {
	font-size: $font-size-xl;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -0.04em;

	&.small {
		font-size: 1.6em;
	}
}

h2 {
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 1.35;
	letter-spacing: -0.02em;
}

h3 {
	font-size: 1.5em;
	font-weight: 400;
	line-height: 48px;
}

a {
	color: $link-color;
	text-shadow: none;
	text-decoration: none;
	outline: 0 !important;

	&:active,
	&:focus,
	&:hover {
		color: $link-hover-color;
	}
}

ol,
ul {
	margin-top: 0;

	> li {
		padding-left: 3px;
		line-height: 24px;
	}
}

.text-muted {
	opacity: 0.7;
}

b,
strong {
	font-weight: 600;
}

.text-accent {
	color: $accent-color;
}

a {
	&.text-accent {
		&:active,
		&:focus,
		&:hover {
			color: $accent-highlight-color;
		}
	}
}

input {
	font-size: $base-font-size;
}

.text {
	&--right {
		text-align: right;
	}

	&--left {
		text-align: left;
	}

	&--center {
		text-align: center;
	}

	&--small {
		font-size: 0.813em;
	}
}