<h1>SignalR</h1> 
<small>@ssv/signalr-client: v{{signalrVersion}}</small>
<p>Current user
	<strong>{{currentUser}}</strong>.</p>
<p>connection status: {{connectionState | json}} </p>
<div class="btn-group"
 role="group">
	<button class="btn btn-success"
	 (click)="connect()">connect</button>
	<button class="btn btn-danger"
	 (click)="disconnect()">disconnect</button>
</div>
<br />
<div class="btn-group"
 role="group">
	<button class="btn btn-secondary"
	 (click)="send()">send</button>
	<button class="btn btn-secondary"
	 (click)="invoke()">invoke</button>
</div>
<br />

<div class="btn-group"
 role="group">
	<button class="btn btn-secondary"
	 (click)="setData()">setData</button>
</div>
<br />
<div class="btn-group"
 role="group">
	<button class="btn btn-warning"
	 (click)="subscribe()">subscribe</button>
	<button class="btn btn-danger"
	 (click)="dispose()">dispose</button>
</div>
<div>
	<select [(ngModel)]="selectedGroupId">
		<option *ngFor="let group of availableGroups" [value]="group.id">{{group.name}}</option>
	</select>
	<button class="btn btn-warning"
	 (click)="subscribeToGroup()">Subscribe to Group</button>
</div>
<div>
	<ul>
		<li *ngFor="let hero of heroes ; trackBy: trackByHero">{{hero.name}} - {{hero.health}}</li>
	</ul>
</div>