// http://chir.ag/projects/name-that-color

// grayscales
$black: #000;
$cod-gray: #131313;
$mine-shaft-dark: #222;
$mine-shaft: #333;
$dusty-gray: #9a9a9a;
$alto: #dadada;
$concrete: #f3f3f3;
$white: #fff;

// purple
$haiti: #170a29;
$electric-violet: #660dce;

// blue
$cyprus: #013242;
$boston-blue: #3a8fc8;
$picton-blue: #48b0f7;
$havelock-blue: #4a90e2;
$azure-radiance: #007bff;

// red
$darkred: #8b0000;
$red: #f00;
$crimson: #ed143d;
// pink
$cerise: #e83e8c;

// green
$eucalyptus: #28a745;

// yellow
$amber: #ffc107;

// $tahuna-sands: #efecca;
